/* ============text=========== */
/* =========colors========= */
/* ==========animations========== */
body {
  font-family: "Roboto", sans-serif, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  background-color: #fff;
  font-style: normal;
  color: #212121;
}

body.modal-open,
body.menu-container-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a:hover,
button:hover {
  cursor: pointer;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.link {
  color: #212121;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.current {
  color: #2196f3;
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover, .logo:focus, .logo--accent {
  color: #2196f3;
}

.page-header__logo {
  padding: 16px 0;
  color: #000;
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    padding: 25px 0;
    font-size: 26px;
    line-height: 1.1923076923;
  }
}
@media screen and (min-width: 768px) {
  .page-header__logo {
    padding: 24px 0;
  }
}

.page-footer__logo {
  margin-bottom: 20px;
  color: #fff;
}

.team__socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 206px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
}

.team__socials__item:not(:last-child) {
  margin-right: 10px;
}

.team__socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__socials__link:hover, .team__socials__link:focus {
  border-radius: 50%;
  background-color: #2196f3;
  color: #fff;
}

.team__socials__icon {
  fill: currentColor;
}

.footer-socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  gap: 10px;
}

.footer-socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: #fff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials__link:hover, .footer-socials__link:focus {
  background-color: #2196f3;
  color: #fff;
}

.footer-socials__icon {
  fill: currentColor;
}

.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
}

.menu-container {
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
  }
  .menu-container.is-open {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    overflow-y: scroll;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-container {
    margin-left: 93px;
  }
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  z-index: 3;
}
.menu-btn.icon-cross {
  display: none;
}
.menu-btn.is-open .icon-cross {
  display: block;
}
.menu-btn.is-open:hover .icon-cross, .menu-btn.is-open:focus .icon-cross {
  fill: #2196f3;
}
.menu-btn.is-open .icon-menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .menu-btn.is-open {
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 10;
  }
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus, .site-nav__link--current {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .site-nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.1428571429;
  }
  .site-nav__link--current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

@media screen and (max-width: 767px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .header-contacts__item:not(:first-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.header-contacts__link {
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .header-contacts__link--bigger {
    font-size: 34px;
    line-height: 1.1764705882;
    color: #2196f3;
  }
}
@media screen and (min-width: 768px) {
  .header-contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.1428571429;
  }
}

.header-contacts__icon {
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (max-width: 767px) {
  .header-contacts__icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-contacts__icon {
    margin-right: 10px;
  }
}

.header__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
}
@media screen and (min-width: 768px) {
  .header__socials {
    display: none;
  }
}

.header__socials-item {
  position: relative;
}
.header__socials-item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header__socials-link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-overlay {
  max-width: 480px;
  height: 400px;
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-480.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-480.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-960.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-960.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero-overlay {
    max-width: 768px;
    height: 400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-768.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-768.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-1536.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-1536.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero-overlay {
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-1600.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-1600.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-3200.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-3200.jpg");
  }
}

.main-title {
  max-width: 360px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  text-align: center;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  color: #fff;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .main-title {
    min-width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.btn {
  display: block;
  margin-top: 30px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  margin-left: auto;
  margin-right: auto;
  background-color: #2196f3;
  color: #fff;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #1270bd;
}

@media screen and (min-width: 768px) {
  .features_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 30px * (2 - 1)) / 2);
        flex-basis: calc((100% - 30px * (2 - 1)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 30px * (4 - 1)) / 4);
        flex-basis: calc((100% - 30px * (4 - 1)) / 4);
  }
}

.features__icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.team {
  background-color: #f5f4fa;
}

.team__list {
  -ms-flex-preferred-size: calc((100% - 30px * (1 - 1)) / 1);
      flex-basis: calc((100% - 30px * (1 - 1)) / 1);
}

.team__item {
  -ms-flex-preferred-size: calc((100% - 30px * (1 - 1)) / 1);
      flex-basis: calc((100% - 30px * (1 - 1)) / 1);
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30px * (2 - 1)) / 2);
        flex-basis: calc((100% - 30px * (2 - 1)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30px * (4 - 1)) / 4);
        flex-basis: calc((100% - 30px * (4 - 1)) / 4);
  }
}

.team__img {
  width: 100%;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

@media screen and (min-width: 768px) {
  .foot-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer__box {
    text-align: center;
  }
  .footer__box:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box--margin {
    margin-left: 70px;
    margin-right: auto;
  }
}

.contact-footer__list:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .contact-footer__list {
    margin-bottom: 9px;
  }
}

.address {
  color: #fff;
}

.list-contact__link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-contact__link:hover, .list-contact__link:focus {
  color: #2196f3;
}

.footer-socials__title,
.footer-subscribe__title {
  display: block;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-mail {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
@media screen and (max-width: 1199px) {
  .footer-mail {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 480px) {
  .footer-mail {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-mail {
    width: 350px;
    margin-right: 12px;
  }
}

.footer-subscribe__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px;
  color: #fff;
  background-color: #2196f3;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.06em;
  border: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-subscribe__icon {
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */