.direction {
  padding-top: 0;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.direction-title,
.team__title,
.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: $main-color;
  text-align: center;
}

.direction__list {
  display: flex;
  gap: 30px;
}

.direction__item {
  position: relative;
}
.direction__about {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: $main-backround;
  background-color: $overlay-background;
}
